{%if collection.metafields.des_banner.banner != blank %}
  <div class="collection-banner">
    <div class="">
      
      {%- assign mobile_image = collection.metafields.mobile_banner.banner | default: collection.metafields.des_banner.banner -%}

          {%- if mobile_image -%}
            <div class="Slideshow__ImageContainer hidden-tablet-and-up"
                 style="--aspect-ratio: {{ mobile_image.aspect_ratio }}; background-image: url({{ mobile_image }})">
              {% assign image_url = mobile_image | replace: '.jpg', '_{width}x.jpg' %}
              <img class="Image--lazyLoaded lazy2 lazy3"
                   	src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                     data-src="{{ mobile_image | replace: '.jpg', '_800x.jpg'}}"
                   	 data-mobsrc="{{ mobile_image | replace: '.jpg', '_400x.jpg'}}"
                     data-optimumx="1.2"
                     data-widths="[400, 600, 800]"
                     data-sizes="auto"
                     alt="{{ mobile_image.alt | escape }}" style="width: 100%;">

                <noscript>
                  <img class="" src="{{ mobile_image | img_url: 'x800' }}" alt="{{ mobile_image.alt | escape }}">
                </noscript>
            </div>
          {%- endif -%}
      
      {%- if collection.metafields.des_banner.banner -%}
            <div class="Slideshow__ImageContainer hidden-phone"
                 style="--aspect-ratio:; background-image: url({{ collection.metafields.des_banner.banner }})">
              {% assign image_url = collection.metafields.des_banner.banner | replace: '.jpg', '_{width}x.jpg' %}

              <img class="Image--lazyLoaded lazy2 lazy3 hide-no-js"
                   	src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                   data-src="{{ collection.metafields.des_banner.banner | replace: '.jpg', '_1600x.jpg'}}"
                   data-mobsrc="{{ collection.metafields.des_banner.banner | replace: '.jpg', '_1000x.jpg'}}"
                   data-optimumx="1.2"
                   data-widths="[1000, 1200, 1400, 1600, 1800, 2000, 2200]"
                   data-sizes="auto"
                   alt="{{ collection.metafields.des_banner.banner.alt | escape }}" style="width: 100%;">

              <noscript>
                <img class="" src="{{ collection.metafields.des_banner.banner | replace: '.jpg', '_1000x.jpg' }}" alt="{{ collection.metafields.des_banner.banner.alt | escape }}">
              </noscript>
            </div>
      {% endif %}
     
    </div>    
  </div>
{% endif %}
<script>
  $('.collection-banner').on('click',function(){
  	var height_ = $('.collection-banner').outerHeight();
    $('html, body').animate({
      scrollTop: $('.shopify-section--bordered').offset().top
    }, height_);
  });
</script>