<div class="ProductMeta">
  {%- if show_description and section.settings.description_below_add_to_cart == false -%}
  <div class="ProductMeta__Description">
    <div class="Rte">
      {{ product.description }}
    </div>
    {%- if section.settings.show_share_buttons -%}
    <div class="ProductMeta__ShareButtons hidden-pocket">
      <span class="ProductMeta__ShareTitle Heading Text--subdued u-h7">{{ 'product.form.share' | t }}</span>

      {%- assign share_url = shop.url | append: product.url -%}
      {%- assign twitter_text = product.title -%}
      {%- assign pinterest_description = product.description | strip_html | truncatewords: 15 | url_param_escape -%}
      {%- assign pinterest_image = product.featured_image | img_url: 'large' | prepend: 'https:' -%}

      <div class="ProductMeta__ShareList Text--subdued">
        <a class="ProductMeta__ShareItem" href="https://www.facebook.com/sharer.php?u={{ share_url }}" target="_blank" rel="noopener" aria-label="Facebook">{%- include 'icon' with 'facebook' -%}</a>
        <a class="ProductMeta__ShareItem" href="https://twitter.com/share?{% if twitter_text != blank %}text={{twitter_text}}&{% endif %}url={{ share_url }}" target="_blank" rel="noopener" aria-label="Twitter">{%- include 'icon' with 'twitter' -%}</a>
        <a class="ProductMeta__ShareItem" href="https://pinterest.com/pin/create/button/?url={{ share_url }}{% if pinterest_image != blank %}&media={{ pinterest_image }}{% endif %}&description={{ pinterest_description }}" target="_blank" rel="noopener" aria-label="Pinterest">{%- include 'icon' with 'pinterest' -%}</a>
      </div>
    </div>
    {%- endif -%}
  </div>
  {%- endif -%}
</div>