{% assign ptype = product.type | downcase %}
{% if ptype == "shirt" %}
  {% assign col_handle = "shirts" %}
{% elsif ptype == "blazer" or ptype == 'blazer with shawl' %}
  {% assign col_handle = "blazers" %}
{% elsif ptype == "jeans" or ptype == "designer jeans" %}
  {% assign col_handle = "jeans" %}
{% elsif ptype == "woman jeans" or ptype == "woman designer jeans" %}
  {% assign col_handle = "women-jeans" %}
{% elsif ptype == "trousers" %}
  {% assign col_handle = "pants" %}
{% elsif ptype == "waistcoat" %}
  {% assign col_handle = "waistcoats" %}
{% elsif ptype == "accessories" %}
  {% assign col_handle = "accessories" %}
{% elsif ptype == "lounge pant" %}
  {% assign col_handle = "lounge-pants" %}
{% elsif ptype == "short" %}
  {% assign col_handle = "shorts" %}
{% elsif ptype == "suit" or ptype == 'suit with shawl' %}
  {% assign col_handle ="suits" %}
{% elsif ptype == "boxer" %}
  {% assign col_handle = "boxers" %}
{% elsif ptype == "tshirt" %}
  {% assign col_handle = "tshirts" %}
{% elsif ptype == "wallet" %}
  {% assign col_handle = "wallets" %}
{% elsif ptype == "belt" %}
  {% assign col_handle ="belts" %}
{% elsif ptype == "trenchcoat-suit" %}
  {% assign col_handle = "suits" %}
{% elsif ptype == "footwear" %}
  {% assign col_handle = "footwear" %}
{% elsif ptype == "shoes" %}
  {% assign col_handle = "shoes" %}
{% elsif ptype == "trenchcoat" %}
  {% assign col_handle = "blazers" %}
{% elsif ptype == "kurta" %}
  {% assign col_handle = "kurtas" %}
{% elsif ptype == "jacket" %}
  {% assign col_handle = "jackets" %}
{% elsif ptype == "shirt trouser" or ptype == "shirt short" or ptype == "shirt lounge pant" or ptype == "tshirt short" or ptype == "tshirt lounge pant" or ptype == "jacket short" %}
  {% assign col_handle = "co-ords" %}
{% elsif ptype == "woman top" %}
  {% assign col_handle = 'women-tops' %}
{% elsif ptype == "woman shirt" %}
  {% assign col_handle = 'women-shirts' %}
{% elsif ptype == "woman jacket" %}
  {% assign col_handle = 'women-jackets' %}
{% elsif ptype == "woman suit" %}
  {% assign col_handle = 'women-suits' %}
{% elsif ptype == "woman blazer" %}
  {% assign col_handle = 'women-blazers' %}
{% elsif ptype == "woman trenchcoat" %}
  {% assign col_handle = 'women-trenchcoats' %}
{% elsif ptype == "woman dress" %}
  {% assign col_handle = 'women-dresses' %}
{% elsif ptype == "woman pant" %}
  {% assign col_handle = 'women-pants' %}
{% else %}
  {% assign col_handle = "shirts" %}
{% endif %}
{%- assign collection = collections[col_handle] -%}
{%- assign desktop_items_per_row = 4 | times: 1 -%}
{%- assign mobile_items_per_row  = 2 | times: 1 -%}

{%- if desktop_items_per_row == 4 -%}
  {%- assign tablet_items_per_row = 3 -%}
{%- else -%}
  {%- assign tablet_items_per_row = 2 -%}
{%- endif -%}
{%- capture collection_inner -%}
  {%- if collection.products_count > 0 -%}
    <header class="SectionHeader SectionHeader--center">
      <div class="Container"><h3 class="SectionHeader__Heading Heading u-h3">Similar Products</h3></div>
    </header>
    {%- paginate collection.products by section.settings.grid_items_per_page -%}
      <div class="ProductListWrapper">
        {% assign collection_handle = collection.handle %}
        <input type="hidden" class="pr-collection" value="{{ collection_handle }}">
        {% assign pageurl = content_for_header| split:'"pageurl":"' | last | split:'"' | first | split: collection_handle | last | remove: '\/' | split: '?' | first | split: '+' %}
        <div data-list-selectcallback class="custom-selectcallback ProductList ProductList--grid {% if paginate.pages > 1 %}ProductList--removeMargin{% endif %} Grid" data-mobile-count="{{ mobile_items_per_row }}" data-desktop-count="{{ desktop_items_per_row }}">
          {%- for product in collection.products -%}
            {%- assign show = true -%}

            {%- for size_color in pageurl -%} 
                {%- for variant in product.variants -%}
                 {%- assign variant_title = variant.title | handleize -%}
                  {%- if variant_title contains size_color and variant.inventory_quantity < 1 -%}
                      {%- assign show = false -%}               
                  {%- endif -%}
                {%- endfor -%}
            {%- endfor -%}

             {%- if show == true and product.available -%}
                {% unless product.tags contains 'hidden' %}
                  <div data-product="{{product.id}}" class="jQueryEqualHeight Grid__Cell 1/{{ mobile_items_per_row }}--phone 1/{{ tablet_items_per_row }}--tablet-and-up 1/{{ desktop_items_per_row }}--{% if section.settings.filter_position == 'drawer' %}lap-and-up{% else %}desk{% endif %}">
                      {%- include 'product-item', show_product_info: true, show_vendor: section.settings.show_vendor, show_color_swatch: section.settings.show_color_swatch, show_labels: true -%}
                  </div>
                {% endunless %}
            {%- endif -%}
            
          {%- endfor -%}
        </div>
      </div>
      {%- include 'pagination' -%}
    {%- endpaginate -%}
  {%- endif -%}
{%- endcapture -%}
<div class="shopify-section shopify-section--bordered similar-products-section">
  <div class="CollectionInner__Products">
    {{ collection_inner }}
  </div>
</div>