{%- assign desktop_items_per_row = 3 -%}
{%- assign mobile_items_per_row = 2 -%}
{%- assign tablet_items_per_row = 2 -%}

{%- capture collection_inner -%}

  {%- if collection.products_count > 0 -%}
    {%- paginate collection.products by 24 -%}
      <div class="ProductListWrapper">
        {%- assign collection_handle = collection.handle -%}
        {%- assign collection_url = content_for_header| split:'"pageurl":"' | last -%}

        {% assign pageurl = content_for_header| split:'"pageurl":"' | last | split:'"' | first | split: collection_handle | last | remove: '\/' | split: '?' | first | split: '+' %}

        <div data-list-selectcallback class="custom-selectcallback ProductList ProductList--grid {% if paginate.pages > 1 %}ProductList--removeMargin{% endif %} Grid" data-mobile-count="{{ mobile_items_per_row }}" data-desktop-count="{{ desktop_items_per_row }}">
          {%- for product in collection.products -%}
            {%- assign show = true -%}

            {%- for size_color in pageurl -%} 
              {%- for variant in product.variants -%}
                {%- assign variant_title = variant.title | handleize -%}
                {%- if variant_title contains size_color and variant.inventory_quantity < 1 -%}
                    {%- assign show = false -%}               
                {%- endif -%}
              {%- endfor -%}
            {%- endfor -%}

             {%- if show == true and product.available -%}
                {% unless product.tags contains 'hidden' %}
                  <div data-product="{{product.id}}" class="jQueryEqualHeight Grid__Cell 1/{{ mobile_items_per_row }}--phone 1/{{ tablet_items_per_row }}--tablet-and-up 1/{{ desktop_items_per_row }}--{% if section.settings.filter_position == 'drawer' %}lap-and-up{% else %}desk{% endif %}">
                      {%- include 'product-item', show_product_info: true, show_vendor: section.settings.show_vendor, show_color_swatch: section.settings.show_color_swatch, show_labels: true -%}
                  </div>
                {% endunless %}
            {%- endif -%}
            
          {%- endfor -%}
        </div>
      </div>
    {%- endpaginate -%}
  {%- endif -%}
{%- endcapture -%}

{{ collection_inner }}