<section class="Section section-image-with-text-block" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="image-with-text-block">
  <div class="Container">
    <div class="service__inner">
      {%- for block in section.blocks -%}
      <div class="service__block">
        <div class="service--containt">
          <div class="service__image--wrap">
            {%- if block.settings.image != blank -%}
              <img class="service--image lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ block.settings.image | img_url: 'x80' }}" alt="{{ block.settings.image.alt | escape }}">
            {%- endif -%}
          </div>
          <div class="service--content">
            {{block.settings.service}}
          </div>
        </div>
      </div>
      {%- endfor -%}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Image with text block",
  	"settings": [],
	"blocks": [
    {
      "type": "image",
      "name": "Sevice",
      "settings": [
			{
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            },
            {
				"type": "text",
				"id": "service",
				"label": "service Detail"
			}
	   ]
	}],
    "presets": [
      {
        "category": "Prmoation",
        "name": "Image with text block",
        "settings": {}
      }
    ]
  }
{% endschema %}
